#chat .welcome {
    color: #B1B1B1;
    background: rgba(169,169,169,0.2) !important;
    border-left: 2px solid #B1B1B1;
}

#chat-messages {
    background-image: url("http://i.imgur.com/1DDrkpH.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 77px);
	color: #ddd
}

#chat .cm:nth-child(2n+1) {
    background: rgba(28, 28, 31, 0.4);
}

##chat .log, #chat .moderation, #chat .promo, #chat .system, #chat .user-action, #chat .welcome {
    color: #ddd
	background: rgba(169,169,169,0.2) !important;
    border-left: 2px solid #B1B1B1;
}

::selection {
    background: #E17844;
}

#chat .text a, #chat .text a:visited {
    color: #168E79;
}

#chat .text a:hover, #chat .text a:visited:hover {
	color: #117766;
	text-shadow: 0px 0px 7px #168E79;
}

#chat .from.dj .un, #chat .from.staff .un {
    color: #168E79;
}

#chat .moderation, #chat .moderation .from {
    color: #B1B1B1;
}

.icon {
	width: 30px;
    height: 30px;
    background: url('http://i.imgur.com/fI5ITsz.png');
}

.radiantimg-delete {
	background-color: #168E79;
    position: absolute;
    top: 6px;
    right: 57px;
    z-index: 5;
    display: none;
    font-size: 11px;
    cursor: pointer;
    padding: 5px;
}

#chat .rs-log-system {
    color: #ddd;
    -webkit-box-shadow: inset 0 0 0 1px #674397;
    -moz-box-shadow: inset 0 0 0 1px #674397;
    box-shadow: inset 0 0 0 1px #168E79;
    background: rgba(22,142,121,0.25)!important;
    padding: 6px 0 7px!important;
}

#rcs-delete {
	background-color: #168E79;
    position: absolute;
    top: 6px;
    right: 57px;
    z-index: 5;
    display: none;
    font-size: 10px;
    cursor: pointer;
    padding: 3px;
}

#chat-messages .timestamp {
    color: #999;
}

.focused {
	-webkit-box-shadow:inset 0 0 0 1px #148E79!important;
	-moz-box-shadow:inset 0 0 0 1px #148E79!important;
	box-shadow: inset 0 0 0 1px #148E79!important;
}

#chat-input {
    position: absolute;
    bottom: 7px;
    left: 7px;
    width: 333px;
    height: 36px;
    background: #020202;
    color: #ddd;
	-webkit-box-shadow:inset 0 0 0 1px #0A4439;
	-moz-box-shadow:inset 0 0 0 1px #0A4439;
	box-shadow: inset 0 0 0 1px #0A4439;
}

#chat-input-field {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 305px;
    outline: 0;
    border: 0;
    background: 0 0;
    color: #ddd;
    font-weight: 400;
    font-size: 12px;
}

#app-menu .button i {
    top: 3px;
    left: 130px;
    width: 50px;
    background: url('http://i.imgur.com/SFxQJMr.gif') no-repeat;
    background-size: 95%;
    height: 100%;
}