.ico-logo {
background-image: url('http://i.imgur.com/SFxQJMr.gif');
}

.song-progress {
   background-color: #168E79;
    -moz-box-shadow: 0px -2px 10px #168E79;
    -webkit-box-shadow: 0px -2px 10px #168E79;
    box-shadow: 0px -2px 10px #168E79;
    height: 4px;
}

#chat {
  background-image: url("http://i.imgur.com/a3IQSsm.png");
  background-repeat: no-repeat;
  background-position: center;
}

#room-bg {
  background-image: url("http://i.imgur.com/I2fzp67.jpg") !important;
  background-size: calc(100% - 400px) 100%;
}

.room-greet {
   background: rgba(169,169,169,0.2);
   border-left: 2px solid #B1B1B1
}

.mention {
   background: rgba(197, 197, 197, 0.2);
   border-left: 2px solid #B1B1B1
}

.mdi.msg {
   color: #A0A0A0 !important;
}

.controls {
   background: #020202;
}

.btn-grab .playlists-grab {
   background: #020202;
}

#msg-in {
   background: #020202;
}

.logo-dash {
   background: #020202;
}

.dash {
   border-bottom: 1px solid #444A59;
   background: #0E0E0E;
}

.yt-sng .nav, .hist-sng .nav {
   background: #0E0E0E;
   color: #88898C;
}

.yt-sng {
   background: #0E0E0E;
}

.hist-sng {
   background: #0E0E0E;
}

a{
   color: #168E79;
}

a:hover {
 color: #117766;
 text-shadow: 0px 0px 7px #FFFFFF;
}

.image-toggle {
   color: #168E79;
}

.greet-uname {
   color: #168E79;
}

.btn-logo {
   background: #2F3238;
}

#people-back .tray {
   background: #0E0E0E;
}

.btn-upvote {
   border-bottom: 2px solid #4CAF50;
   color: #4CAF50;
}

.btn-upvote:not(.active):hover {
   background: rgba(76,175,80,0.25);
}

.btn-upvote.active {
   background: #4CAF50;
   color: #020202;
       box-shadow: 0px 16px 20px -13px #4CAF50;
    -webkit-transition: box-shadow 0.1s ease;
    -moz-transition: box-shadow 0.1s ease;
    -ms-transition: box-shadow 0.1s ease;
    -o-transition: box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease;
}

.btn-grab {
   color: #2196F3;
   border-bottom: 2px solid #2196F3;
}

.btn-grab:not(.active):hover {
   background: rgba(33,150,243,0.25);
}

.btn-grab.active {
   background: #2196F3;
   color: #020202;
       box-shadow: 0px 16px 20px -13px #2196F3;
    -webkit-transition: box-shadow 0.1s ease;
    -moz-transition: box-shadow 0.1s ease;
    -ms-transition: box-shadow 0.1s ease;
    -o-transition: box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease;
}

.playlists-grab .pl-grab:not(.active):hover {
   background: rgba(33,150,243,0.25);
}

.btn-grab .playlists-grab {
   color: #2196F3;
}

.btn-join {
   border-bottom: 2px solid #F46B40;
}

.btn-snooze.active {
   background: #925AFF;
   color: #020202;
          box-shadow: 0px 16px 20px -13px #925AFF;
    -webkit-transition: box-shadow 0.1s ease;
    -moz-transition: box-shadow 0.1s ease;
    -ms-transition: box-shadow 0.1s ease;
    -o-transition: box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease;
}

.btn-snooze {
   border-bottom: 2px solid #925AFF;
}

.btn-downvote {
   color: #C8303E;
   border-bottom: 2px solid #C8303E;
}

.btn-downvote.active {
    color: #020202;
    background-color: #C8303E;
    box-shadow: 0px 16px 20px -13px #C8303E;
    -webkit-transition: box-shadow 0.1s ease;
    -moz-transition: box-shadow 0.1s ease;
    -ms-transition: box-shadow 0.1s ease;
    -o-transition: box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease;
}

.greet-umsg {
   color: #B1B1B1;
}

.tray .active {
   color: #B1B1B1;
   border-bottom: 3px solid #B1B1B1;
}

.waitlist-user:first-child {
   background: rgba(199, 199, 199, 0.2);
}

.lib-fdr-search {
   background: #0E0E0E;
}

.lib-sng-search {
   background: #0E0E0E;
}

.lib-fdr {
   background: #1B1B1B;
}

.lib-fdr.selected {
   border-right: 3px solid #B1B1B1;
}

.nav.active {
   border-right: 3px solid #B1B1B1;
}

.lib-sng:first-child {
   background: rgba(173,173,173,0.2);
}

.settings-timestamp {
   background-color: #5D1616;
}

.settings-timestamp.active {
   background-color: #208424;
}

.mdi.mdi-play {
   content: url('http://i.imgur.com/ya0H2r0.png');
   width: 34px;
   margin-left: 4px;
   -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.mdi.mdi-play:active {
   -webkit-filter: invert(100%);
    filter: invert(100%);
   -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.cm.emote .umsg {
   color: #A526A5;
    font-weight: 700;
}

.modal-controls {
   background: #171717;
}

.user-menu-content {
   background: #060606;
}

.user-menu .arrow {
   background: #424242;
}

.popover .modal-ctrl:hover {
   background: rgba(171, 171, 171, 0.25);
}

.user-menu .modal-ctrl:hover {
   background: rgba(171, 171, 171, 0.25);
}

.modal {
   background: #0E0E0E;
}

.modal-yes {
   color: #4CAF50;
}

.green {
   color: #4CAF50;
}

.modal-yes:hover {
   background: rgba(76,175,80,0.25);
}

.loader {
    border-top-color: #2E173F;
    border-bottom-color: #2E173F;
}

.loader:before {
    border-top-color: #7A250B;
    border-bottom-color: #7A250B;
}

.loader:after {
    border-top-color: #1E4805;
    border-bottom-color: #1E4805;
}

.autocomplete>ul>li.active {
       background: #2A2A2A;
}

.autocomplete>ul>li {
   background: #0C0C0C;
}

.lib-fdr.draghover {
   background: #333333;
}

.lib-sng-drop {
       background: rgb(177, 177, 177);
}

input.ban-reason, input.edit-playlist-name {
   background: #1E1F23;
}

#login {
       background: #060606;
}

#creds input:focus {
   background: #B1B1B1;
}

#creds .ctrl:hover {
       background: rgba(171, 171, 171, 0.25);
}

#creds .controls {
       background: #191919;
}

#register {
    background: #060606;
}

::selection {
   background: #E17844;
}
